@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg-color: #000;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: clamp(16px, 1vw + 0.5rem, 18px);
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: var(--bg-color);
}